<template>
    <form
        v-if="!active"
        class="p-5 border bg-white half-w"
        @submit.prevent="submitHandler"
    >
        <h1>Setup Quiz</h1>
        <hr />
        <div class="mb-3">
            <label for="numberOfQuestions" class="form-label">
                Number of questions
            </label>
            <input
                value="10"
                type="number"
                required
                @input="numberHandler"
                class="form-control"
            />
        </div>
        <SetupSelect
            @changeOptionHandler="changeHandler"
            selectName="category"
            :options="categories"
        />
        <SetupSelect
            @changeOptionHandler="changeHandler"
            selectName="difficulty"
            :options="[
                { id: 'easy', name: 'Easy' },
                { id: 'medium', name: 'Medium' },
                { id: 'hard', name: 'Hard' },
            ]"
        />
        <SetupSelect
            @changeOptionHandler="changeHandler"
            selectName="type"
            :options="[
                { id: 'multiple', name: 'Multiple Choice' },
                { id: 'boolean', name: 'True / False' },
            ]"
        />
        <div class="mt-4">
            <button class="btn btn-primary">
                {{ loading ? "Loading quiz.." : "Start Quiz" }}
            </button>
        </div>

        <p class="mt-3 text-danger" v-if="setupError">{{ setupError }}</p>
    </form>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import SetupSelect from "./SetupSelect.vue";

export default {
    title: "TriviaQuiz | Setup",
    name: "Setup",
    components: {
        SetupSelect,
    },
    data() {
        return {
            options: {
                numbers: "10",
                category: "0",
                difficulty: "0",
                type: "0",
            },
        };
    },
    computed: {
        ...mapState(["setupError", "categories", "active", "loading"]),
    },
    methods: {
        ...mapActions(["fetchCategories", "fetchQuestions"]),
        ...mapMutations([
            "setCategories",
            "setOptions",
            "setActive",
            "setRouterError",
            "setSetupError",
        ]),
        numberHandler(e) {
            this.options.numbers = e.target.value;
        },
        changeHandler(selectName, targetValue) {
            this.options[selectName] = targetValue;
        },
        submitHandler() {
            if (this.options.numbers > 50 || this.options.numbers < 2) {
                this.setSetupError(
                    "The amount of questions need to be between 2 and 50"
                );
            } else {
                this.setOptions(this.options);
                this.fetchQuestions(this.$router);
            }
        },
    },
    created() {
        this.fetchCategories();
        if (this.active) {
            this.$router.push("/question");
            this.setRouterError(
                "Please finish your active quiz before starting a new one :)"
            );
        }
    },
};
</script>
