<template>
    <div class="mb-3">
        <label :for="selectName" class="form-label">
            Choose {{ selectName }}
        </label>
        <select
            :name="selectName"
            @change="changeOptionHandler"
            class="form-select"
        >
            <option selected value="0">Any</option>
            <option
                v-for="option in options"
                :value="option.id"
                :key="option.id"
                >{{ option.name }}</option
            >
        </select>
    </div>
</template>

<script>
export default {
    name: "SetupSelect",
    props: {
        selectName: {
            type: String,
            required: true,
        },
        options: {
            type: Array,
            required: true,
        },
    },
    methods: {
        changeOptionHandler(e) {
            this.$emit(
                "changeOptionHandler",
                e.srcElement.name,
                e.target.value
            );
        },
    },
};
</script>
