<template>
    <div v-if="questions" class="p-5 border result bg-white half-w text-center">
        <h1>You finished the quiz!</h1>
        <p class="result-response">
            You got <span class="fw-bold points">{{ score }}</span> out of
            <span class="fw-bold points">{{ questions.length * 10 }}</span>
            possible points
        </p>
        <div class="result-actions my-5">
            <button @click="newQuiz" class="btn btn-primary me-4">
                Try a new quiz
            </button>
            <button class="btn btn-primary" @click="resetQuiz">
                Reset quiz with same options
            </button>
        </div>
        <hr />
        <ResultQuestion
            v-for="(question, index) in questions"
            :key="index"
            :question="question"
            :userAnswer="userAnswers[index]"
        />
        <a v-if="questions.length > 2" @click="scrollToTop" class="link-primary"
            >To the top!</a
        >
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import ResultQuestion from "./ResultQuestion.vue";

export default {
    title: "TriviaQuiz | Result",
    name: "Result",
    components: {
        ResultQuestion,
    },
    computed: {
        ...mapState([
            "score",
            "questions",
            "active",
            "correctAnswers",
            "userAnswers",
        ]),
    },
    methods: {
        ...mapActions(["fetchQuestions"]),
        ...mapMutations(["setActive", "setStep", "setScore", "setRouterError"]),
        newQuiz() {
            this.setActive(false);
            this.$router.push("/setup");
        },
        resetQuiz() {
            this.fetchQuestions(this.$router);
        },
        scrollToTop() {
            scrollTo(0, 0);
        },
    },
    created() {
        if (this.active) {
            this.$router.push("/question");
            this.setRouterError(
                "Please finish the quiz before accessing the results :)"
            );
        }
        if (!this.questions) {
            this.$router.push("/setup");
        }
    },
};
</script>

<style scoped>
.result-response {
    font-size: 20px;
}

.points {
    font-size: 30px;
}

.link-primary {
    cursor: pointer;
}
</style>
