<template>
    <div class="text-start my-5">
        <h5 class="mb-3">{{ question.question }}</h5>
        <ul class="list-group">
            <li
                class="list-group-item"
                v-for="(answer, index) in getCurrentAnswers"
                :key="index"
            >
                <span :class="checkAnswer(answer)">{{ answer }}</span>
            </li>
        </ul>
    </div>
</template>

<script>
import shuffleArray from "@/util/shuffleArray";

export default {
    name: "ResultQuestion",
    props: {
        question: {
            type: Object,
            required: true,
        },
        userAnswer: {
            type: String,
        },
        answers: {
            type: Array,
        },
    },
    computed: {
        getCurrentAnswers() {
            return shuffleArray([
                ...this.question.incorrect_answers,
                this.question.correct_answer,
            ]);
        },
    },
    methods: {
        checkAnswer(answer) {
            if (
                answer === this.question.correct_answer &&
                answer === this.userAnswer
            ) {
                return "text-success fw-bold";
            }
            if (answer === this.userAnswer) {
                return "text-danger fw-bold";
            }
            if (answer === this.question.correct_answer) {
                return "text-success fw-bold";
            }
            return "";
        },
    },
};
</script>
