<template>
    <div>
        <button
            class="btn answer"
            :class="changeBtnClass"
            @click="handleAnswer(answer)"
        >
            {{ answer }}
        </button>
    </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
    name: "QuestionAnswer",
    props: {
        answer: {
            type: String,
            required: true,
        },
        correctAnswer: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            btnClass: "btn-primary",
        };
    },
    computed: {
        ...mapState(["score"]),
        changeBtnClass() {
            return this.btnClass;
        },
    },
    methods: {
        ...mapMutations(["setScore", "setUserAnswer"]),
        handleAnswer(answer) {
            if (answer === this.correctAnswer) {
                this.btnClass = "btn-success";
                this.setScore(this.score + 10);
            } else {
                this.btnClass = "btn-danger";
            }
            this.setUserAnswer(answer);
            this.$emit("toggleNextBtn", true);
        },
    },
};
</script>

<style>
.answer {
    min-height: 7vh;
    width: 100%;
    font-size: 20px;
    box-shadow: unset !important;
    outline: none;
}
</style>
