<template>
    <div v-if="getCurrentQuestion">
        <div class="question half-w border p-5 bg-white">
            <p v-if="routerError.length" class="text-danger fw-bold">
                {{ routerError }}
            </p>
            <QuestionTitle
                :question="getCurrentQuestion"
                :step="step"
                :questionsLength="questions.length"
            />
            <div class="answers" :class="toggleData">
                <QuestionAnswer
                    v-for="(answer, index) in getCurrentAnswers"
                    ref="answerBtn"
                    :key="index"
                    :answer="answer"
                    :correctAnswer="getCurrentQuestion.correct_answer"
                    @toggleNextBtn="toggleNextBtn"
                />
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button
                @click="nextQuestion"
                class="btn btn-primary mt-4"
                v-if="nextBtn"
            >
                {{ btnText }}
            </button>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";
import QuestionTitle from "./QuestionTitle.vue";
import QuestionAnswer from "./QuestionAnswer.vue";

export default {
    title: "TriviaQuiz | Question",
    name: "Question",
    components: {
        QuestionTitle,
        QuestionAnswer,
    },
    data() {
        return {
            toggleData: "",
            nextBtn: false,
            btnText: "Next Question",
        };
    },
    computed: {
        ...mapState(["step", "questions", "routerError"]),
        ...mapGetters(["getCurrentQuestion", "getCurrentAnswers"]),
    },
    methods: {
        ...mapMutations(["setStep", "setScore", "setRouterError", "setActive"]),
        toggleNextBtn(toggleData) {
            this.toggleData = "disable-btns";
            this.nextBtn = toggleData;
            if (this.step === this.questions.length - 1) {
                this.btnText = "Finish Quiz";
            }
        },
        nextQuestion() {
            this.setRouterError("");
            this.setStep(this.step + 1);

            this.toggleData = "";
            this.nextBtn = false;
            this.$refs.answerBtn.map((btn) => {
                btn.btnClass = "btn-primary";
            });

            if (this.step === this.questions.length) {
                this.$router.push("/result");
                this.setActive(false);
            }
        },
    },
    created() {
        if (!this.getCurrentQuestion) {
            this.$router.push("/setup");
        }
    },
};
</script>

<style>
.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 40px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disable-btns {
    pointer-events: none;
}
</style>
