<template>
    <section>
        <div class="d-flex justify-content-between">
            <div
                class="question-info d-flex justify-content-center align-items-center mb-2"
            >
                <p class="mb-0  me-2">
                    {{ question.category }}
                </p>
                <span :class="getBadgeClass()">
                    {{ question.difficulty }}
                </span>
            </div>

            <p>{{ step + 1 }} / {{ questionsLength }}</p>
        </div>

        <div class="mb-4">
            <h2 class="mb-4 text-break">
                {{ question.question }}
            </h2>
            <hr />
        </div>
    </section>
</template>

<script>
export default {
    name: "QuestionTitle",
    data() {
        return {
            badgeClass: "",
        };
    },
    props: {
        question: {
            type: Object,
            required: true,
        },
        step: {
            type: Number,
            required: true,
        },
        questionsLength: {
            type: Number,
            required: true,
        },
    },
    methods: {
        getBadgeClass() {
            switch (this.question.difficulty) {
                case "easy":
                    return "badge rounded-pill bg-success";
                case "medium":
                    return "badge rounded-pill bg-warning text-dark";
                case "hard":
                    return "badge rounded-pill bg-danger";
                default:
                    return "badge rounded-pill bg-primary";
            }
        },
    },
};
</script>
